<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Proxy requests to Node.js backend -->
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="http://localhost:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors>
      <!-- Custom error pages -->
      <error statusCode="404" path="C:\inetpub\wwwroot\error_docs\not_found.html" responseMode="ExecuteURL" />
      <error statusCode="500" path="C:\inetpub\wwwroot\error_docs\internal_server_error.html" responseMode="ExecuteURL" />
    </httpErrors>

    <staticContent>
      <!-- Add MIME types for React build files if needed -->
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>
  </system.webServer>
</configuration>
